html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Dancing Script'; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


 /* FIRST  */
.landing-page-first {
  height: 100vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./assets/aes.jpg");
  background-position: top;
  background-repeat: no-repeat;
  /* background-size: 100em 80%; */
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Dancing Script';
}

.landing-page-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 5rem;
  padding: 20px;
  text-align: center;
}


/* SECOND */
.landing-page-second {
  height: 100%;
}

.greet-picture {
  background-color: antiquewhite;
  height: 70vh;
}

.greet-text {
  background-color: orangered;
  height: 100vh;
}


/* THIRD */
.landing-page-third {
  height: 100%;
}

.first-circle {
  height: 100vh;
  color: red;
}

.second-circle {
  height: 100vh;
}


/* @Media Queries */

@media only screen and (min-width: 0px) and (max-width: 350px) {

.landing-page-second {
  height: 100%;
}

.greet-picture {
  background-color: antiquewhite;
  height: 70vh;
}

.greet-text {
  background-color: orangered;
  height: 100vh;
}


.landing-page-third {
  height: 100%;
}

.first-circle {
  height: 100vh;
  color: red;
}

.second-circle {
  height: 100vh;
}



}

@media only screen and (min-width: 351px) and (max-width: 599px) {



  .landing-page-third {
    height: 100%;
  }
  
  .first-circle {
    height: 100vh;
    color: red;
  }
  
  .second-circle {
    height: 100vh;
  }
  
}

@media only screen and (min-width: 600px) and (max-width: 1500px) {



  .landing-page-third {
    height: 100%;
  }
  
  .first-circle {
    height: 100vh;
    color: red;
  }
  
  .second-circle {
    height: 100vh;
  }
  
}

@media only screen and (min-width: 1200px) {
  .landing-page-second {
    height: 100%;
    display: flex;;
  }
  
  .greet-picture {
    background-color: antiquewhite;
    height: 100vh;
    width: 20%;
  }
  
  .greet-text {
    background-color: orangered;
    height: 100vh;
    width: 80%;
  }


  .landing-page-third {
    height: 100%;
  }
  
  .first-circle {
    height: 100vh;
    color: red;
  }
  
  .second-circle {
    height: 100vh;
  }
  
}

/* XXLarge screens */
@media only screen and (min-width: 120.063em) {
 
}
